/* Game */
#game {
  width:800px;
  height:600px;
  margin:40px auto;
  overflow-x:hidden;
  overflow-y:hidden;
  background-color:#555;
  position:relative;
}

#stage {
  position:absolute;
  top:0;
  left:0;
  right:0;
  height:auto;
  transition: all 0.4s ease;
}
.elevator{
  width:86px;
  height:140px;
  background-color : rgba(247, 250, 248, 0);
  position: absolute;
  top:300px;
  margin:60px 30px 0 30px;
  transition: all ease 1s;
  box-shadow: 0 0 20px #309ce0;
}
#sky {
  height:280px;
  background: rgba(5,22,107,1);
  background: -moz-linear-gradient(top, rgba(5,22,107,1) 0%, rgba(5,22,107,1) 50%, rgba(164,120,230,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(5,22,107,1)), color-stop(50%, rgba(5,22,107,1)), color-stop(100%, rgba(164,120,230,1)));
  background: -webkit-linear-gradient(top, rgba(5,22,107,1) 0%, rgba(5,22,107,1) 50%, rgba(164,120,230,1) 100%);
  background: -o-linear-gradient(top, rgba(5,22,107,1) 0%, rgba(5,22,107,1) 50%, rgba(164,120,230,1) 100%);
  background: -ms-linear-gradient(top, rgba(5,22,107,1) 0%, rgba(5,22,107,1) 50%, rgba(164,120,230,1) 100%);
  background: linear-gradient(to bottom, rgba(5,22,107,1) 0%, rgba(5,22,107,1) 50%, rgba(164,120,230,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#05166b', endColorstr='#a478e6', GradientType=0 );
  border-bottom:20px solid #1d1b16;
}

#sky:before {
  content: "";
  width:60px;
  height:60px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  border-radius:50%;
  position:absolute;
  top: 150px;
  right: 50px;
  background-color:#FFF;
  opacity:0.7;
}

#ground {
  background-color:#534232;
  height:300px;
}

.floor {
  height:200px;
  background-color:#efded3;
  border-bottom:10px solid #a08f84;
}

.floor:nth-child(even) {
  background-color:#ccbaae;
}

.door {
  cursor:default;
  text-align:center;
  font-size: 30px;
  color:#444;
  font-weight:bold;
  line-height: 137px;
  float:left;
  width:80px;
  height:137px;
  margin:60px 30px 0 30px;
  background-color:#666;
  border-left:3px solid #555;
  border-right:3px solid #555;
  border-top:3px solid #555;
}
.queue {
  height:200px;
  width:660px;
  margin-left:140px;
}

.user {
  width:50px;
  height:120px;
  margin: 80px 25px 0 25px;
  background-color: #574848;
  position:absolute;
  transition: all ease 1s;
  text-align:center;
  line-height: 40px;
  font-size: 15px;
  color:rgba(255, 255, 255, 0.5);
}

.user.animated {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-name: bounceInRight;
          animation-name: bounceInRight;
}

.user.bounce {
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
  -webkit-animation-fill-mode: backwards;
          animation-fill-mode: backwards;
  -webkit-animation-name: bounce;
          animation-name: bounce;
  -webkit-transform-origin: center bottom;
      -ms-transform-origin: center bottom;
          transform-origin: center bottom;
}

.user.disconnected {
  opacity:0;
}

#me {
  background-color: #902121;
}


/* Page */
body {
  margin:0;
  padding:0;
  background-color:#222;
  color:#EEE;
  font-family: 'Open Sans', sans-serif;
}

h1 {
  text-align:center;
  margin:40px auto;
}


/* Animations */
@-webkit-keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInRight {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(3000px, 0, 0);
            transform: translate3d(3000px, 0, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(-25px, 0, 0);
            transform: translate3d(-25px, 0, 0);
  }

  75% {
    -webkit-transform: translate3d(10px, 0, 0);
            transform: translate3d(10px, 0, 0);
  }

  90% {
    -webkit-transform: translate3d(-5px, 0, 0);
            transform: translate3d(-5px, 0, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@-webkit-keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
            transform: translate3d(0,-4px,0);
  }
}

@keyframes bounce {
  0%, 20%, 53%, 80%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
    -webkit-transform: translate3d(0,0,0);
            transform: translate3d(0,0,0);
  }

  40%, 43% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -30px, 0);
            transform: translate3d(0, -30px, 0);
  }

  70% {
    -webkit-transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
            transition-timing-function: cubic-bezier(0.755, 0.050, 0.855, 0.060);
    -webkit-transform: translate3d(0, -15px, 0);
            transform: translate3d(0, -15px, 0);
  }

  90% {
    -webkit-transform: translate3d(0,-4px,0);
            transform: translate3d(0,-4px,0);
  }
}
